@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: honeydew;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #acabacb6, -5px -5px 25px #e7e7e7;
  color: black;
}

.title {
  margin-bottom: 10px;
  color: rgb(59, 14, 1);
}

#display {
  margin: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: inset 10px 10px 50px #ecececb6;
}

button {
  padding: 10px 15px;
  margin: 5px;
  margin-top: 10px;
  border: none;
  color: white;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 20px;
}
#start {
  background-color: rgb(113, 177, 30);
}
#stop {
  background-color: rgb(207, 30, 30);
}
#reset {
  background-color: rgb(182, 103, 30);
}
#lap {
  background-color: darkcyan;
}

#list {
  list-style: none;
  margin-top: 25px;
}

li {
  font-size: 1rem;
  text-decoration: none;
}
